<!-- <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-linkedin"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div>
            <ul class="list-inline">
               
                <li class="list-inline-item text"><a href="#">Look at our team</a></li>
                <li class="list-inline-item text"><a href="#">Visit our gallery</a></li>
                
                
                <li class="list-inline-item text"><a href="#">Contact Us</a></li>
            </ul>
            <p class="copyright">Varnam © 2014</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
</head>

<body>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item text">
                        <h3> Contact </h3>
                        <ul>
                            <p>Kumaraguru College of Technology</p>
                            <p>Athipalayam Rd, Chinnavedampatti, Coimbatore, Tamil Nadu 641049</p>
                            <br>
                            <br>
                            <p>varnam@kct.ac.in</p>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Site Links</h3>
                        <ul>
                            
                            <li><a href="/#/team">Look at our team</a></li>
                            <li><a href="/#/gallery">Visit our Gallery</a></li>
                            <li><a href="/#/contact">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Varnam-KCT.</h3>
                        <p>Varnam is the student run Fine arts club of Kumaraguru college of technology. We are functioning actively since 2014.</p>
                    </div>
                    <div class="col item social"><a href="facebook.com/varnamatkct/"><i class="icon ion-social-facebook"></i></a><a href="https://www.youtube.com/channel/UCHLdX7rzsSG6W3mqmHuby6Q"><i class="icon ion-social-youtube"></i></a><a href="https://www.linkedin.com/company/varnam-kct/"><i class="icon ion-social-linkedin"></i></a><a href="https://www.instagram.com/varnam_at_kct/"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Varnam © 2014</p>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
