<app-navbar></app-navbar>

<div class="custom-container">


    <div style="height: 70px; text-align: center; ">
      <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </div>
  
    <div class="row p-0 m-0">
  
  
      <div class="col-lg-6 col-md-12">
  
        <div class="content about" style="align-items: center;vertical-align: middle;">
          <h2><b>About Us</b></h2>
          <span>
            <!-- line here -->
          </span>
          <p>
  
            Varnam is the student run Fine arts club of Kumaraguru college of technology. We are functioning actively since 2014. We conduct inter and intra college events. Workshops for the enrichment of art among the student community. We work together for various painting and decorating projects inside our campus. We also work in the way to contribute something in the form of art to society. Along with learning and teaching art, we develop our skills in possible ways.Members of our club have Achievements in Indian Book of Records.
  
          </p>
  
          <div>
          </div>
  
        </div>
  
      </div>
  
  
      <div class=" col-lg-6 ">
        <img  src="{{imageList[1].imageUrl}}" style="width: 100%;height: 100%; margin-top: 25px;border-radius: 5px; box-shadow: 0 1px 5px rgba( 0,0,0,.21);" alt="" srcset="">
  
  
      </div>
  
      <div style="height: 50px;">
  
      </div>
  
      <div class="row p-0 m-0">
  
        <div class="col-lg-6">
          <img  src="{{imageList[2].imageUrl}}" style="width: 100%;height: 100%;margin-top: 25px;margin-bottom: 25px; box-shadow: 0 1px 5px rgba( 0,0,0,.21);" alt="" srcset="">
        </div>
  
        <div class=" col-lg-6 " >
  
          <div class="content decor" style="align-items: center;vertical-align: middle;">
            <h2><b>We decorate</b></h2>
            <span>
              <!-- line here -->
            </span>
            <p>
  
              Yugam, Technical and Non - Technical fest of Kumaraguru Institutions is physically beautified by Team Varnam. Every year, the sprawling campus of 150 acres glows all day artistically . The hotspots of campus is emplaced by themed paintings with the touch of innovation. Working models designed and built by the members of the club.
            </p>
  
            <div>
            </div>
  
          </div>
  
        </div>
  
      </div>
  
      <div style="height: 50px;">
  
      </div>
  
      <div class="row p-0 m-0">
  
  
        <div class=" col-lg-6 col-md-12">
  
          <div class="content " style="align-items: center; vertical-align: middle;">
            <h2><b>We Conduct</b></h2>
            <span>
              <!-- line here -->
            </span>
            <p>Not only decorating the campus, Varnam hosts various events in the inter college level on different mediums of Art. The signature event of Varnam is Fusion Art. The event is largely welcomed among the participants and winners will be awarded with cash vouchers. During the cultural fest, workshops are organised in the view of encouraging and learning different forms of Art. Every year, new initiatives are brought up to coincide with the theme of Yugam.</p>
  
            <div>
            </div>
  
          </div>
  
        </div>
  
  
        <div class=" col-lg-6 col-md-12">
          <img  src="{{imageList[3].imageUrl}}" style="width: 100%;height: 100%;margin-top: 25px;border-radius: 5px; box-shadow: 0 1px 5px rgba( 0,0,0,.21);" alt="" srcset="">
  
  
        </div>
  
        <div style="height: 50px;">
  
        </div>
  
      </div>
  
    </div>
  
  </div>  
   
  
  <app-footer></app-footer>