<!-- <table *ngIf="imageList">
    <tr *ngFor="let i of imageList">
      <td>
        <div class="imagebox" *ngIf="i==0">
          <a routerLink="/image/upload">
            <img src="" class="img-fluid">
            <span class="imagebox-desc">Insert New Image</span></a>
        </div>
        <div class="imagebox" *ngIf="i!=0">
          <img [src]="i.imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{i.caption}}</span>
        </div>
      </td>
      <td *ngIf="i">
        <div class="imagebox">
          <img [src]="i.imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{i.caption}}</span>
        </div>
      </td>
      <td *ngIf="i">
        <div class="imagebox">
          <img [src]="i.imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{i.caption}}</span>
        </div>
      </td>
    </tr>
  </table> -->


 {{imageList[0].imageUrl}}
